html{
    background-image: linear-gradient(to right, blue, orange);
}
body{
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}
p, h1, h2, h3, h4, h5, h6{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff;
  }
.guessSubmit{
    text-transform: uppercase;
    outline: 0;
    border-radius: 5px;
    background-color: orange;
    border: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.guessSubmit:hover{
    background-color: black;
    transition: all 1s ease 0s;
}
.guessSubmit:focus{
    background-color: black;
    transition: all 1s ease 0s;}
    .guessField{
    outline: none;
    }
